<!--专家动态-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!--[if IE 7]>    <link href="../css/ie7.css" rel="stylesheet"><![endif]-->

</head>

<body>
    <!-- build:section layout.header -->
    <!-- /build -->
    <div class="wd">
        <div class="mt30 row">
            <div class="col-xs-6 z6 ">
                <a class="z6" href="/">首页</a> <i class="f_i righywe_uic cz"></i>
                <a class="z6" href="oneToOneList.html">一对一清单</a> <i class="f_i righywe_uic cz"></i>
                <a class="z6">清单详情</a>
            </div>

        </div>



        <div class="mt40">
            <div class="sdd_jh_deer cen">

                <p class="dsfd_deert ">
                    <button type="button" class="btn btn-primary btn-lg">我要提问</button>
                </p>
            </div>
            <div class="ov pl30">
                <div class="panel panel-default">


                    <div class="panel-body tr">
                        <i class="f_i shsjgh_eer act"></i>
                        <span class="cz">收藏4</span>
                    </div>
                    <div class="panel-body bbm">
                        <img src="../img/ddfdf_dr.png" class="uswer_drrt fl">
                        <div class="ov pl20">
                            <p class="z9 fz14 mt10">
                                红帽子的狼外婆
                            </p>
                            <p class="mt15 z6 fz16 dsf_eereert">
                                子公司是母公司的抵债资产，当时是欠款80万元以80万元入母公司的长期股权投资入账。但子公司延续下来的账面上
                                的实收资本为300万元。子公司为芒果养殖公司，但已经没有经营芒果养殖，只有靠转租土地作为营业外收入。母公
                                司的注册资本为3亿元，每年母公司收入1000多万，但子公司每年基本上就是收入8万租金，利润就3万元左右。请问
                                有没有什么会计准则可以证明子公司不必并入母公司的合并报表。
                            </p>
                            <div class="mt15 dfg_deerrt">
                                <p class="ye">
                                    <button type="button" class="btn btn-primary dsffgdf_ser cz fz14">咨询TA</button>
                                    <span class="ml10  f_b">咨询费 ￥80.00</span></p>
                                <p class="mt20">
                                    此问题已回答
                                </p>
                            </div>


                        </div>
                        <p class="qc pm10"></p>







                    </div>
                    <!--<%  for (var a in [1,2,3,4,5,2,3,4,5,1]){ %>  -->



                    <div class="panel-body bbm">
                        <img src="../img/ddfdf_dr.png" class="uswer_drrt fl">
                        <div class="ov pl20">
                            <div class="row">
                                <div class="col-xs-8">
                                    <p class="z9 fz14 mt10">
                                        朱小珠 | 高级会计师、税务师、注册会计师 | 133人关注
                                    </p>
                                </div>
                                <div class="col-xs-4 tr">
                                    <button type="button" class="btn btn-primary dsffgdf_ser ab fz14">咨询TA</button>
                                </div>
                            </div>

                            <p class="mt15 z6 fz16 dsf_eereert">
                                子公司是母公司的抵债资产，当时是欠款80万元以80万元入母公司的长期股权投资入账。但子公司延续下来的账面上
                                的实收资本为300万元。子公司为芒果养殖公司，但已经没有经营芒果养殖，只有靠转租土地作为营业外收入。母公
                                司的注册资本为3亿元，每年母公司收入1000多万，但子公司每年基本上就是收入8万租金，利润就3万元左右。请问
                                有没有什么会计准则可以证明子公司不必并入母公司的合并报表。
                            </p>
                            <div class="mt15 bbm pm15 ">
                                <span class="z6 ">
                                    <i class="f_i dsfdsf_er act"></i>
                                    已关注
                                </span>

                                <span class="z6 ml50">
                                    <i class="f_i dsfdsf_er ab act"></i>
                                    点赞10
                                </span>
                                <span class="z6 ml50">
                                    <i class="f_i dsfdsf_er ac"></i>
                                    评论3
                                </span>

                                <span class="z6 ml50">
                                    <i class="f_i dsfdsf_er ac"></i>
                                    一天前
                                </span>
                            </div>
                            <div class="dsdsfr_eert">
                                <img src="../img/ddfdf_dr.png" class="uswer_drrt fl ab">
                                <div class="ov pl20">
                                    <p class="z9 fz14 mt5">
                                        顺子 @朱小朱
                                    </p>

                                    <p class="z9 mt15">
                                        原来是这样计算的~
                                    </p>
                                </div>


                            </div>
                            <div class="dsdsfr_eert">
                                <img src="../img/ddfdf_dr.png" class="uswer_drrt fl ab">
                                <div class="ov pl20">
                                    <p class="z9 fz14 mt5">
                                        顺子 @朱小朱
                                    </p>

                                    <p class="z9 mt15">
                                        原来是这样计算的~
                                    </p>
                                </div>


                            </div>
                            <div class="dsdsfr_eert">
                                <img src="../img/ddfdf_dr.png" class="uswer_drrt fl ab">
                                <div class="ov pl20">
                                    <p class="z9 fz14 mt5">
                                        顺子 @朱小朱
                                    </p>

                                    <p class="z9 mt15">
                                        原来是这样计算的~
                                    </p>
                                </div>


                            </div>


                        </div>
                        <p class="qc pm10"></p>







                    </div>
                    <!-- <%  }%>  -->

                    <div class="panel-body bbm">
                        <nav class="cen">
                            <ul class="pagination">
                                <li class="disabled">
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 </a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>


            </div>

            <p class="qc"></p>

        </div>


    </div>

    <!-- build:section layout.footer -->
    <!-- /build -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/base.js"></script>
</body>

</html>
