<!--专家列表页面-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>  </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
     <!--[if IE 7]>    <link href="../css/ie7.css" rel="stylesheet"><![endif]--> 
    
</head>

<body>
  
  <!-- build:section layout.header -->
    <!-- /build -->
   <div class="wd">
        <div class="mt30 row">
            <div class="col-xs-6 z6 ">
                <a class="z6" href="/">首页</a> <i class="f_i righywe_uic cz"></i>
                <a class="z6">专家介绍</a> 
            </div>
            <div class="col-xs-6 tr">
                <div class="sshuye_e f_b ab">
                    <div class="fr sshg_dert">
                        <img src="../img/sss_b.png">
                    </div>
                    <p class="ov">
                        <input type="text" placeholder="请输入关键字">
                    </p>
                    <p class="qc"></p>
                </div>

            </div>
        </div>
       
       
       <div class="mt10 dsff_deeert">
            <div class="ssdf_jhj_de pl20 z6 bbm">
                广东省 <i class="f_i righywe_uic cz ml10 mr10"></i>
                广州市 <i class="f_i righywe_uic cz ml10 mr10"></i>
                天河区 <i class="f_i righywe_uic cz ml10 mr10"></i>
                城市：
                <span>全国</span> 
                <span class="ml10">北京市</span>
                <span class="ml10">上海市</span>
                 <span class="ml10">天津市 </span>
                 <span class="ml10">重庆市 </span>
                 <span class="ml10">河北省 </span>
                 <span class="ml10">山西省 </span>
                 <span class="ml10">河南省 </span>
                
                 <span class="ml10">辽宁省 </span>
                 <span class="ml10">吉林省 </span>
                 <span class="ml10">黑龙江省 </span>
                 <span class="ml10">内蒙古自治区 </span>
                <i class="f_i donwdderet"></i>
            </div>
                <div class="ssdf_jhj_de pl20 z6 bbm">
              
                <span>全部</span> 
                <span class="ml10">北京市</span>
                <span class="ml10">上海市</span>
                 <span class="ml10">天津市 </span>
                 <span class="ml10">重庆市 </span>
                 <span class="ml10">河北省 </span>
                 <span class="ml10">山西省 </span>
                 <span class="ml10">河南省 </span>
                
                 <span class="ml10">辽宁省 </span>
                 <span class="ml10">吉林省 </span>
                 <span class="ml10">黑龙江省 </span>
                 <span class="ml10">内蒙古自治区 </span>
            </div>
            <div class="ssdf_jhj_de pl20 z6 sdfdsrrt">
              <span>所有行业</span>    <i class="f_i donwdderet"></i>
                
                <span class="ml50">所有职称</span> <i class="f_i donwdderet"></i>
                   <span class="ml50">价格升序</span> <i class="f_i donwdderet"></i>
            </div>
       </div>
       
       
       <div class="mt60">
        <ul class="dsfdf_jj_dert">
<!--             <%  for (var a in [1,2,3,4,5]){ %>  -->
         <li>
             <a href="xiangqinga.html">
            <div class="fl">
                <img src="../img/dsfdsf_ser.png">
                <p class="ls cen mt30">个人主页</p>
             </div>
             <div class="ov pl30">
                <p class="fz18 ls">
                    曾小平  |  高级会计师、注册会计师、税务师
                 </p>
                 <p class="dianer z6 mt30">
                    本人中南大学本科、中山大学研究生毕业，取得硕士学位，具有中级会计师、注册税务师、注册会计师、高级会计师、证券从业资格、上市公司董秘证，
律师资格证备考中，从事财务管理18年，在外企、国企、民企都担任过财务负责人，具有丰富的财税知识及管理经验...
                 </p>
                 
                 <p class="mt20 z6 ">
                 擅长：内部控制、预算分析、内部审计
                 </p>
                 
                 <div class="mt20 z6">
                 帮助人数：<span class="ye">13</span>              
                     <span class="ml50">关注人数：<span class="ye">1367</span> </span>
                     <span class="ml50"> 好评率： <span class="ye">99%</span></span>
                 </div>
                 
                 <div class="mt30">
                 
                    <button type="button" class="btn btn-primary btn-lg dsffgdf_ser">花￥120咨询</button>
                     <button type="button" class="btn btn-primary btn-lg dsffgdf_ser aa ml30">关注</button>
                 </div>
                 
             
             </div>
        
             <p class="qc"></p>
                 </a>
        </li> 
<!--                <% } %>  -->
        </ul>
       <nav class="cen">
           <ul class="pagination">
               <li class="disabled">
                   <a href="#" aria-label="Previous">
                   <span aria-hidden="true">&laquo;</span>
                   </a>
               </li>
               <li class="active"><a href="#">1 </a></li>
               <li><a href="#">2</a></li>
               <li><a href="#">3</a></li>
               <li><a href="#">4</a></li>
               <li><a href="#">5</a></li>
                <li >
                   <a href="#" aria-label="Previous">
                   <span aria-hidden="true">»</span>
                   </a>
               </li>
           </ul>
               </nav>
           
       </div>
       
       
    </div>
         <!-- build:section layout.footer -->
    <!-- /build -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/base.js"></script>
    <script>
     
    </script>
</body></html>