.col-xs-4,.col-xs-1,.col-xs-6{
  padding: 0;
    overflow: hidden
}
.dfg_derttyx .col-xs-3{
    width: 22%;
}
.row{
     margin: 0;
    width: 100%
}
.sshuye_e INPUT{
    line-height: 40px;
}
.ddfdfdeerrt{
    display: inline-block;
    height: 25px;
    line-height: 25px;
}
select.ddfdfdeerrt{
     height: 30px;
    line-height: 30px;
}
.dfgdfg_deert .col-xs-6{
    width: 49%
}
.dfgdf_deert .ddfdfdeerrt{
    width: 240px !important;
}
.dfgdf_deert  .ddfdfdeerrt.ac{
    width: 100px !important;
}
.gouxuanseer{
    margin-left: 15px;
}
.sdfd_deerts{
       width: 730px;
    left: 160px;
}
.sshg_dert{
    background: #3071a9
}