body {
    padding-bottom: 10000px;
    background: #fff
}

.dxrow:after {
    content: ' ';
    display: block;
    clear: both;
}

.dxcol {
    overflow: hidden
}

.ddsf-ertt {
    width: 200px;
    height: 200px;
    background: red;
}

.dx_toper {
    height: 35px;
    line-height: 35px;
    background: #f3f3f3;
    position: relative;
    z-index: 100000
}

.sshuye_e {
    width: 290px;
    height: 35px;
    margin: auto;
    line-height: 35px;
    border: 1px solid #67B9D2;
    overflow: hidden;
    margin-top: -10px;
}

.sshuye_e input {
    width: 100%;
    height: 35px;
    border: 0;
    text-indent: 10px;
    margin-top: 0px !important
}

.sshg_dert {
    height: 40px;
    width: 60px;
    background: linear-gradient(to right, #2944AC, #67B9D2);
    text-align: center
}

.sshuye_e.ab {
    height: 35px !important;
    border-color: #dedede;
    line-height: 1
}

.sshuye_e.ab input {
    height: 35px !important;
    line-height: 35px !important;
}

.sshuye_e.ab .sshg_dert {
    height: 35px;
    line-height: 30px;
    background: #f3f3f3 !important
}

.sshg_dert img {
    width: 22px;
}

.sshuye_e.ab .sshg_dert img {
    width: 18px;
}

.phoneert {
    width: 45px;
    height: 45px;
}

.fdfgsdfdsr {}

.fdfgsdfdsr .col-xs-1 {
    padding: 0 !important;
}

.fdfgsdfdsr a {
    color: #333;
    line-height: 38px;
    display: block;
    width: 100%;
    height: 100%
}

.fdfgsdfdsr a.act {
    color: #366dec
}

.fdfgsdfdsr a:hover {
    background: #396DEC;
    color: #fff
}

.fdfgsdfdsr a.fz12 {
    font-size: 16px
}

.busder_er {
    width: 1057px;
    height: 160px;
    margin: auto;
    background: #EDF2FF;
    padding: 40px 0px;
    margin-top: 60px;

}

.yuus_e {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 1px solid #999;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #999;
    background: #EDF2FF;
}

.sdfd_deerts {
    height: 4px;
    background: #DEDEDE;
    width: 750px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 52px;
}

.sdfd_deerts span {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #10831c
}

.fdsf_deert .col-xs-4 .mt15 p {
    color: #999
}

.fdsf_deert .col-xs-4.act .mt15 p {
    color: #333
}

.fdsf_deert .col-xs-4.act .yuus_e {
    border-color: #333;
    color: #333
}

.fdsf_deert .col-xs-4.acb .mt15 p {
    color: #10831c
}

.fdsf_deert .col-xs-4.acb .yuus_e {
    border-color: #10831c;
    color: #10831c
}


.ssdf {
    width: 1057px;
    margin: auto
}

.dfsfdseer {
    width: 100px;
    text-align: right;
    word-spacing: 8px;
}

.dfgdf_deert .dfsfdseer {
    width: 210px;
}

.dfsfdseer span {
    margin-right: 10px;
}

.ddfdfdeerrt {
    width: 260px !important;
    margin-left: 10px;
    height: 40px;
}

.dfgdf_deert .ddfdfdeerrt {
    width: 280px !important;
}

.ddfdfdeerrt.ab {
    height: auto
}

.ddfdfdeerrt.ac {
    width: 100px !important;
    margin-right: 10px;
}

.gouxuanseer {
    width: 16px;
    height: 16px;
    background-position: -21px -27px;
    margin-right: 5px;
}

.dfdg_deerrt {
    margin-bottom: 10px;
    cursor: pointer
}

.dfdg_deerrt.act .gouxuanseer {
    background-position: -50px -26px;
}

.btn-primary {
    background: linear-gradient(to right, #2944AC, #67B9D2);
    border: 0;
    border-radius: 0;
    min-width: 100px;
}

.sdfeertdeert {
    line-height: 2
}

.sdf_deeerrt {
    height: 145px;
    text-align: center;
    line-height: 145px;
    border: 1px dashed #e0e0e0;
}

.sserxwr {
    width: 100%;
    height: 100%;
}

.sdf_deeerrt.act {
    line-height: 1
}

.sdf_deeerrt.act img.add_icer {
    display: none
}

.breadcrumb {
    background: transparent;
}

.sdd_jh_deer {
    width: 235px;
    float: left;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100
}

.list-group-item.active {
    background: linear-gradient(to right, #2944AC, #67B9D2);
}

.sdd_jh_deer .list-group-item {
    line-height: 50px;
    padding: 0
}

.list-group-item.act {
    color: #2944AC;
    background: #f3f3f3
}

.dsfd_deerts li {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dashed #e0e0e0;
}

.dsfd_deert button {
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0px;
}

.sd_jh_dert {
    background: #464646;
    padding-top: 45px;
    padding-bottom: 45px;
}

.weixingwer {
    width: 32px;
    height: 25px;
    background-position: -94px -16px;
}

.dsfdfd_eer {
    line-height: 1.8
}

.usewer_deet {
    width: 24px;
    height: 24px;
}

.df_deeets {
    position: relative;
    z-index: 10000
}

.ssd_jhj_xeer {
    width: 224px;
    height: 181px;
    border: 1px solid #e0e0e0;
    background: #fff;
    padding-top: 15px;
    position: absolute;
    right: 0;
    top: 34px;
    z-index: 100;
    display: none
}

.dsf_eeeert {
    cursor: pointer
}

.dsf_eeeert:hover .ssd_jhj_xeer {
    display: block
}

.ssd_jj_e {
    width: 75px;
}

.uswre_eer {
    width: 45px;
    height: 45px;
}

.dsf_xdeert {
    background: #FF9661;
    border-radius: 4px;
    padding: 2px 7px;
}

.sdd_deet {
    padding-right: 20px;
}

.sdd_deet li {
    color: #666666;
    line-height: 23px;
    cursor: pointer;
    padding-left: 5px;
}

.sdd_deet li:hover {
    background: #FFDECD
}

.dsfdsf_xeeert {
    position: absolute;
    left: 0px;
    top: 38px;
    background: #396DEC;
    color: #fff;
    width: 184px;
    text-align: left;
    display: none
}

.dsfdsf_xeeert li {
    padding-left: 30px;
    line-height: 35px;
    cursor: pointer
}

.dsfdsf_xeeert li:hover {
    background: #fff;
    color: #396DEC;
}

.fdfgsdfdsr .col-xs-1:hover .dsfdsf_xeeert {
    display: block
}

.banerr_er {
    height: 430px;
}

.ddsfsdfwe {
    width: 56px;
    height: 56px;

    background-position: -11px -74px;
}

.ddsfsdfwe.ab {
    background-position: -94px -74px;

}

.ssdr_rrt {
    background: #f3f3f3;
    padding-top: 70px;
    padding-bottom: 70px;
}

.sdeer_dert {
    width: 1045px;
    margin: auto;
    border: 1px solid #B1B1B1;
    height: 50px;
    line-height: 50px;
}

.downdert {
    width: 15px;
    height: 7px;
    background-position: -405px -33px;
    margin-left: 5px;
}

.ssd_jj_deer {
    border-right: 1px solid #B1B1B1;
    line-height: 1;
    display: inline-block;
    width: 100%;
}

.map_iconer {
    width: 22px;
    height: 22px;
    background-position: -445px -19px
}

.ssd_jj_deer.ab {
    border: 0
}

.dsf_eeert {
    line-height: 1;
    padding: 0;
}

.dsf_deeert {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #396DEC;
    color: #fff !important;
    height: 50px;
    margin-top: -1px;
    margin-right: 1px;
}

.dsf_jh_eert {
    width: 1045px;
    margin: auto
}

.swiper-containerer {
    height: 100px;
}

.sdfsdfds_er {
    width: 18px;
    height: 34px;
    background-position: -188px -85px;
    margin-left: 0px;
    margin-top: 55px;
}

.sdfsdfds_er.ab {
    background-position: -247px -83px
}

.sd_derttx {
    width: 70px !important;
    height: 84px !important;
}

.dsfd_jj_eert {
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dsfd_jj_eert span {
    display: inline-block;
    line-height: 1;
    padding-left: 10px;
    border-left: 2px solid #396DEC;
}

.righywe_uic {
    width: 6px;
    height: 10px;
    background-position: -496px -30px;
}

.dsfds_deertt {
    padding: 15px;
    padding-bottom: 5px;
    border: 1px solid #CACACA
}

.sdfdsf_a {
    width: 80px;
    height: 80px;
}

.ssdd_jh_dert {
    line-height: 2
}

.ssdd_jh_dert a {
    display: block;
}

.dfg_deeert {
    text-indent: 30px;
}

.dsfd_eertt {
    width: 6px;
    height: 6px;
    background-position: -521px -34px;
}

.ssdd_jh_dert li {
    cursor: pointer
}

.ssdd_jh_dert li a {
    color: #999 !important
}

.ssdd_jh_dert li:hover,
.ssdd_jh_dert li a:hover {
    color: #366dec !important
}

.ssdd_jh_dert li:hover .dsfd_eertt {
    background-position: -546px -35px;
}



.slideTxtBox {
    text-align: left;
}

.slideTxtBox .hd {
    height: 30px;
    line-height: 30px;
    background: #f4f4f4;
    padding: 0 10px 0 0px;
    border: 1px solid #ddd;
    border-bottom: 0px;
    position: relative;
}

.slideTxtBox .hd ul {
    float: left;
    position: absolute;
    left: 20px;
    top: -1px;
    height: 32px;
}

.slideTxtBox .hd ul li {
    float: left;
    padding: 0 15px;
    cursor: pointer;
}

.slideTxtBox .hd ul li.on {
    height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 2px solid #fff;
}

.dsfdfd_deeert .col-xs-6.tr.z9.fz12 {
    margin-top: 8px;
}

.dsfd_j_dert {
    background: #F3F3F3;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ssd_jhj_deert {
    width: 420px;
    border-top: 1px solid #9B9B9B;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.ssd_jhj_deert span {
    background: #F3F3F3;
    position: relative;
    top: -10px;
    padding: 10px;
}

.ssd_jhj_deert.ab span {
    background: #fff;
    position: relative;
    top: -10px;
    padding: 10px;
}

.dsfdf_hj_der {
    width: 380px;
    height: 460px;
    background: #fff;
    border: 1px solid #EDEDED;
    text-align: center;
    padding-top: 90px;
    cursor: pointer
}

.dsfdf_hj_der:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.dsf_deereert {
    height: 177px;
}

.dsf_dereeert {
    width: 50px;
    height: 1px;
    background: #000;
    margin: auto;
    margin-top: 50px;
}

.dsfdsf_deer {
    height: 200px;
    width: 100%
}

.dsfd_j_deert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    line-height: 200px;
}

.dsfdsfretx {
    width: 50px;
    height: 1px;
    background: #000;
}

.dsfd_deeett {
    line-height: 1;
    width: 100px;
    text-align: center;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.dsfdsf_deeert {
    cursor: pointer
}

.dsfdsf_deeert:hover .dsfd_j_deert {
    background: rgba(0, 0, 0, 0.5)
}

.dsfdsf_deeert:hover .dsfd_j_deert {
    color: #fff
}

.dsfdsf_deeert:hover .dsfdsfretx {
    background: #fff
}

.dsfdsf_deertweer li {
    line-height: 55px;
    border-bottom: 1px solid #DEDEDE
}

a {
    cursor: pointer
}

.sddsf_deert {
    border: 1px solid #DEDEDE;
    padding: 20px;
}

.dsfdf_jj_dert {
    border: 1px solid #F4F4F4;

}

.dsfdf_jj_dert li {
    padding: 30px;
    border-bottom: 1px solid #F4F4F4;
}

.cxdsfdsfdrt {
    font-size: 14px;
    line-height: 1.7;
    color: #333
}

.dsff_deeert {
    border: 1px solid #F4F4F4
}

.ssdf_jhj_de {
    line-height: 50px;
}

.donwdderet {
    width: 12px;
    height: 7px;
    background-position: -578px -33px
}


.sdfdsrrt {
    cursor: pointer
}

.sdfdsrrt span:hover {
    color: #2b71f0
}

.dsffgdf_ser {
    background: #FF9661 !important;
    font-size: 14px;
}

.dsffgdf_ser.aa {
    background: #F3F3F3 !important;
    color: #999 !important
}

.dsffgdf_ser.ab {
    background: #2D71F0 !important;
}

.ssd_jhj_dee {
    border: 1px solid #f4f4f4;
    line-height: 60px;
}

.ssd_jhj_dee a {
    color: #333333;
    display: inline-block;
    width: 100%;
}

.ssd_jhj_dee p {
    width: 100px;
    line-height: 55px;
    text-align: center;
}

.dsfdf_deert.act a,
.dsfdf_deert a:hover {
    background: #f3f3f3 !important;
    color: #2b71f0
}

.ssd_jh_deeet {
    width: 300px;
    float: left;
    position: sticky;
    top: 0;
}

.panel {
    border-radius: 0
}

.panel-default > .panel-heading {
    background: transparent !important;
}

.dfdsf_eet {
    border-left: 2px solid #2D71F0;
    padding-left: 10px;
}

.panel-default > .panel-heading,
.panel-default {
    border-color: #f4f4f4
}

.dsfd_deeets {
    width: 70px;
    height: 95px;
}

.dsfdf_eert {
    padding-top: 10px;
    line-height: 1.8
}

.sdf_deeert {
    color: #666;
    line-height: 1.7;
    min-height: 170px;
}

.sdfd_deret {
    background: #F3F3F3;
    padding: 20px;
}

.dsdf_eeeert {
    background: transparent !important;
    width: 100%;
    height: 150px;
    border: 0
}

.dsf_deerte {
    line-height: 1.6
}

.dsdh_deert {
    width: 160px;
    height: 120px;
}

.dsf_deeertxer {
    width: 12.5%;
    float: left
}

.dsf_deeertxer img {
    width: 45px;
    height: 45px;
}

.ddsfd_eet {
    width: 16px;
    height: 16px;
    background-position: -300px -114px;
    position: relative;
    top: -2px;
}

.ddsfd_eet.ab {
    width: 17px;
    height: 14px;
    background-position: -342px -116px;
    top: 0
}


.uswer_drrt {
    width: 40px;
    height: 40px;
}

.uswer_drrt.ab {
    width: 30px;
    height: 30px;
}

.dfdsf_deert {
    border-color: #366dec
}

.dsf_deertxe {
    background: #FF9661;
    color: #fff;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    padding: 5px 20px;
}

.sdf_dffr {
    width: 13px;
    height: 12px;
    background-position: -391px -115px;
    position: relative;
    top: -2px;
}

.dsf_deertxe.ab {
    border-radius: 0;
    background: #F3F3F3;
    color: #999;

}

.sdf_dffr.ab {
    background-position: -431px -114px;
}

.shsjgh_eer {
    width: 25px;
    height: 24px;
    background-position: -472px -106px;
    position: relative;
    bottom: 2px;
}

.shsjgh_eer.act {
    background-position: -517px -106px
}

.dsf_eereert {
    line-height: 1.4
}

.dfg_deerrt {
    background: #F3F3F3;
    padding: 10px;
}

.dsfdsf_er {
    width: 16px;
    height: 17px;
    position: relative;
    bottom: 2px;
    margin-right: 10px;
    background-position: -103px -183px;
}

.dsfdsf_er.act {
    background-position: -21px -183px
}

.dsfdsf_er.ab {
    width: 16px;
    height: 16px;
    background-position: -146px -184px;
}

.dsfdsf_er.ab.act {
    background-position: -64px -184px
}

.dsfdsf_er.ac {
    width: 17px;
    height: 14px;
    background-position: -266px -183px
}

.dsdsfr_eert {
    margin-top: 10px;
}

.dsf_crrtyde {
    width: 500px;
    margin-left: auto;
    margin-right: auto
}

.modal-header {
    border: 0
}

.fg_dererett {
    width: 300px;
    margin: auto;
}

.dsfdsf_h_dert {
    line-height: 1;
}

.dsfdsf_h_dert span {
    padding: 0px 20px;
    background: #fff;
    position: relative;
    top: 5px;
}

.weirseert {
    width: 39px;
    height: 40px;
    background-position: -325px -160px;
}

.input-lg,
.form-group-lg .form-control {
    height: 40px;
    border-radius: 0
}

.ddsdf_derrrt {
    line-height: 1.5;
    margin-top: 15px;
    padding-bottom: 30px;
}

.dsfd_dert {
    height: 40px;
}

.dsfs_deert {
    background: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    min-height: 800px;
}
.dsfs_deert .ov.pl15 .panel.panel-default{
    min-height: 577px;
}


.dsfd_hhhd_left {
    width: 250px;
    min-height: 494px;
    position: sticky;
    top: 0
}

.dsfdsfer_deert {
    min-height: 494px;
    padding: 0 20px;
}

.user_indorr {
    padding: 25px;
}

.dsfertd_deert {
    width: 80px;
    height: 80px;
    background: #F6F6F6;
    padding: 5px;
}

.dsf_j_deert li.act,
.dsf_j_deert li:hover {
    background: #f6f6f6;
}

.dsfertd_deert img {
    width: 100%;
    height: 100%;

}

.dsf_j_deert {
    line-height: 50px;
    text-align: center;
    border-top: 1px solid #F3F3F3
}

.dsf_j_deert.tl {
    text-align: left;
}

.dsf_j_deert li {
    cursor: pointer;
    border-bottom: 1px solid #F3F3F3
}

.dsf_j_deert a {
    display: block;
    color: #666 !important;
    font-size: 16px;

}

.dsf_j_deert li.act a,
.dsf_j_deert li:hover a {
    color: #366dec !important;
}

.sdd_deerrt {
    width: 140px;
    height: 180px;
    background: #f6f6f6;
    text-align: center;
    line-height: 180px;
    padding: 10px;
}

.sdd_deerrt img {
    width: 100%;
}

.sdd_deerrt.ab {
    width: 94px;
    height: 123px;
    line-height: 123px;
    padding: 0;
}

.sdd_deerrt.ab img {
    width: 100%;
    height: 100%;

}

.bianjidert {
    width: 27px;
    height: 27px;
    background-position: -484px -173px
}

.sdfdf_deert {
    width: 110px;
    text-align: right;
}

.dsfdf_deeret {
    position: absolute;
    left: 0px;
    bottom: -110px;
    text-align: center;
    width: 100%
}

label {
    font-weight: 100
}

.form-control {
    border-radius: 0
}

.ddfdfdeerrt.ba {
    width: 100% !important
}

.df_deert {
    width: 90px;
    text-align: right;

}

.dsff_jj_dert {
    padding-right: 60px;
    position: relative;
}

.dsff_deert {
    position: absolute;
    right: 1px;
    top: 0px;
    border: 1px solid #ccc;
    width: 60px;
    text-align: center;
    line-height: 32px;
}

.dfget_deerrt {
    line-height: 35px;
}

.ddf_drrt {
    width: 12px;
    height: 12px;
    background-position: -604px -188px;
    margin-right: 5px;
}

.ddf_drrt.act {
    background-position: -563px -186px;
}

.downerttx {
    width: 12px;
    height: 7px;
    background-position: -578px -33px;
}

.dsfg_derrt {
    background: #fafafa;
    display: none;
    padding: 10px;
    line-height: 2.2
}

.fgfd_ddfgfger {
    width: 100px;
    text-align: right
}

.tiosdd_ert {
    width: 31px;
    height: 9px;
    background-position: -17px -234px;
    position: absolute;
    right: 30px;
    top: -9px;
}

.dfdf_deertxe.act .downerttx {
    transform: rotate(180deg)
}

.dsfg_derrt.act {
    display: block
}






.box .e.e3 {
    min-width: 50%;
    width: auto;
}

.box .e {
    position: relative;
    float: left;
    width: 631px;
    line-height: 30px;
    color: #333;
    word-break: break-all;
    padding: 0 15px 0 100px;
}

.box .e label {
    position: absolute;
    width: 61px;
    color: #666;
    text-align: justify;
    text-align-last: justify;
    top: 0;
    left: 15px;
}

.box .e label:after {
    display: inline-block;
    width: 100%;
    height: 0;
    content: '\00a0';
    overflow: hidden;
}

.box .e i {
    position: absolute;
    font-style: normal;
    left: 85px;
}

.add_jhddert {
    width: 14px;
    height: 14px;
    background-position: -98px -232px;
}

.box .con .pp {
    padding: 0 15px;
}

.box .sp {
    height: 30px;
}

.box .sp span,
.box .sp strong {
    float: left;
    width: 120px;
    margin-left: 15px;
}

.dsfd_deerrt {
    width: 340px;
    margin: auto;
}

.df_deert.ab {
    width: 70px;
}

.dsfds_deererttx .pert {
    padding: 0
}

.dsfds_deererttx .pert.ab {
    padding-left: 10px;
}


.dsf_dseertt {
    background: url("../img/bannerwerr.jpg") 50% 50% no-repeat;
    height: 300px
}

.eer_drertt {
    width: 150px;
    height: 150px;
}

.eerr_derttw {
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.pr0 {
    padding: 0
}


.fgdfg_deeert {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -30px;
}

.dsfd_erder {
    width: 90px;
    text-align: right;
    margin-right: 5px;
}

.dsfdsf_jh_e {
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 3px;
    background-position: -137px -229px;
}

.dsfdsf_jh_e.ab {
    bottom: 2px;
    background-position: -182px -226px;
}

.dsfdsf_jh_e.ac {
    bottom: 0;
    background-position: -226px -232px;
}

.dsfdsf_jh_e.ad {
    bottom: 2px;
    background-position: -261px -229px;
}


.dsfdsf_jh_e.ae {
    bottom: 0px;
    background-position: -302px -229px;
}

.dsfdsf_jh_e.af {
    bottom: 0px;
    background-position: -342px -227px;
}

.dsfdsf_jh_e.ag {
    bottom: 0px;
    background-position: -372px -229px;
}


.dsfdsf_jh_e.ah {
    bottom: 0px;
    background-position: -412px -227px;
}

.dsfdsf_jh_e.ai {
    bottom: 0px;
    background-position: -457px -226px;
}

.dsfdsf_jh_e.aj {
    bottom: 0px;
    background-position: -483px -227px;
}

.dsfdsf_jh_e.ak {
    bottom: 0px;
    background-position: -518px -227px;
}

.dsf_j_deert li.act .dsfdsf_jh_e,
.dsf_j_deert li:hover .dsfdsf_jh_e {
    background-position: -137px -262px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ab,
.dsf_j_deert li:hover .dsfdsf_jh_e.ab {
    background-position: -182px -263px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ac,
.dsf_j_deert li:hover .dsfdsf_jh_e.ac {
    background-position: -226px -269px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ad,
.dsf_j_deert li:hover .dsfdsf_jh_e.ad {
    background-position: -261px -266px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ae,
.dsf_j_deert li:hover .dsfdsf_jh_e.ae {
    background-position: -302px -266px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.af,
.dsf_j_deert li:hover .dsfdsf_jh_e.af {
    background-position: -342px -264px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ag,
.dsf_j_deert li:hover .dsfdsf_jh_e.ag {
    background-position: -372px -266px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ah,
.dsf_j_deert li:hover .dsfdsf_jh_e.ah {
    background-position: -412px -264px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ai,
.dsf_j_deert li:hover .dsfdsf_jh_e.ai {
    background-position: -457px -263px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.aj,
.dsf_j_deert li:hover .dsfdsf_jh_e.aj {
    background-position: -483px -264px;
}

.dsf_j_deert li.act .dsfdsf_jh_e.ak,
.dsf_j_deert li:hover .dsfdsf_jh_e.ak {
    background-position: -518px -264px;
}
.dsdf_derter{
    display: inline-block;
    width: 120px;
    text-align: center;
    cursor: pointer
   
}
.dsdf_derter span{
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.dsdf_derter.act{
    color:  #2b71f0;
}
.dsdf_derter.act span:after{
    content: ' ';
    position: absolute;
    left: 0px;
    bottom: -12px;
    width: 100%;
    height: 1px;
    background: #2b71f0;
}
.sd_deeertty{
    width: 82px;
}
.dsfdsff_deeert{
    display: none
}
.dsfdsff_deeert.act{
    display: block
}
.dfd_erdeert{
    width: 115px;
    height: 115px;
}
.dsf_dert{
    width: 40px;
    height: 40px;
}
.dfg_drrrtxe{
    line-height: 45px;
}
.dsfd_derrtty{
    background: #fafafa;
    height: 40px;
    text-align: center;
}
button {
    background: #F3F3F3;
    color: #999999
}

.blisddrtt{
    width: 8px;
    height: 12px;
    margin-right: 5px;
    background-position: -42px -347px;
}

.dsfdf_dert{
    background: #F3F3F3;
    height: 255px;
    
}
.dsfdf_dert textarea{
     background: #F3F3F3;
    border: 0px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.btn-lg{
    border-radius: 0
}
.dsfdsfeert{
    width: 18px;
    height: 18px;
    background-position: -121px -344px;
    margin-left: 10px;
    cursor: pointer
}


.dsfdsfeert.act{
    background-position: -82px -344px;
}













