<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> </title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!--[if IE 8]>    <link href="../css/ie7.css" rel="stylesheet"><![endif]-->

</head>

<body>
    <!-- build:section layout.header -->
    <!-- /build -->
    <div class="mt20 pr dsf_dseertt">
        <div class="wd pr h100">
            <div class="dxrow fgdfg_deeert">
                <img src="../img/sdfdsf_eer.jpg" class="eer_drertt yj fl">
                <div class="pl50 ov">
                    <div class="row">
                        <div class="col-xs-2">
                            <p class="cf fz14 dian mt30">
                                用户名：大鱼123
                            </p>
                            <p class="mt20">
                                <span class="bgye pd ">申请成为专家</span>
                            </p>
                        </div>
                        <div class="col-xs-7 ">
                            <p class="cf fz14 dian mt30">
                                积分：1340
                            </p>
                            <p class="mt20 cf">
                                个人二维码 <img src="../img/erweima.jpg" class="eerr_derttw cz">
                            </p>
                        </div>

                        <div class="col-xs-1 cen cf pr0  mt50">
                            账户余额
                            <p class="fz12 mt5">￥100080</p>
                        </div>
                        <div class="col-xs-1 cen cf pr0  mt50">
                            总收入
                            <p class="fz12 mt5">￥100080</p>
                        </div>
                        <div class="col-xs-1 cen cf pr0  mt50">
                            消费
                            <p class="fz12 mt5">￥100080</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="dsfs_deert mt0">
        <div class="wd pt50">
            <div class="mt20 dxrow">
                <div class="fl bgff dsfd_hhhd_left yj4 pt5">


                    <ul class="dsf_j_deert tl">
                        <li class="">
                            <a href="#">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e"></i>
                                </span>
                                我的悬赏
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ab"></i>
                                </span>
                                我的抢答
                            </a>
                        </li>
                        <li class="">
                            <a href="questioning.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ac"></i>
                                </span>
                                一对一提问
                            </a>
                        </li>
                        <li class="">
                            <a href="favorite.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ad"></i>
                                </span>
                                我的关注/收藏
                            </a>
                        </li>
                        <li class="">
                            <a href="questionsHeard.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ae"></i>
                                </span>
                                听过的问题
                            </a>
                        </li>
                        <li>
                            <a href="BindingMobile.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e af"></i>
                                </span>
                                绑定手机
                            </a>
                        </li>

                        <li class="act">
                            <a href="financialDetails.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ag"></i>
                                </span>
                                资金明细
                            </a>
                        </li>
                        <li class="">
                            <a href="applicationWithdrawal.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ah"></i>
                                </span>
                                提现申请
                            </a>
                        </li>
                        <li class="">
                            <a href="WithdrawalRequestRecord.html">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ai"></i>
                                </span>
                                提现申请记录
                            </a>
                        </li>

                        <li class="">
                            <a href="#">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e aj"></i>
                                </span>
                                帮助中心
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span class="dsfd_erder f_b">
                                    <i class="f_i dsfdsf_jh_e ak"></i>
                                </span>
                                关于平台
                            </a>
                        </li>


                    </ul>

                </div>
                <div class="ov pl15">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            资金明细

                        </div>
                        <!--<%  for (var i=0;i<10;i++){ %>  -->


                        <div class="panel-body bbm">
                            <a href="#" class="z6 dfg_drrrtxe">
                                <span class="dsdf_jh_der">对方名称：</span> 曾孝珠<br>
                                <span class="dsdf_jh_der">变更时间：</span> 2019-10-10 12:34:06<br>
                                <span class="dsdf_jh_der">变更时间：</span> <span class="ye">32.60+0.20=33.00元</span><br>
                                <span class="dsdf_jh_der">变更类型：</span> 旁听收益<br>
                            </a>
                        </div>

                        <!-- <%  }%>  -->

                        <div class="panel-body ">

                            <nav class="cen">
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1 </a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">»</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- build:section layout.footer -->
    <!-- /build -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/drag.js"></script>
    <script src="../js/base.js"></script>
    <script>
        $(function() {
            $(".dsdf_derter").on("click", function() {
                $(".dsdf_derter").removeClass("act")
                $(this).addClass("act")
            })
        })

    </script>
</body>

</html>
