<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> 首页 </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/swiper3.07.min.css" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- build:section layout.headera -->
    <!-- /build -->
    <div class="banerr_er">
        <div class="swiper-container swiper-containerone">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/bannerr_er.jpg">
                </div>
                <div class="swiper-slide">
                    <img src="img/bannerr_er.jpg">
                </div>
                <div class="swiper-slide">
                    <img src="img/bannerr_er.jpg">
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev f_i ddsfsdfwe"></div>
            <div class="swiper-button-next f_i ddsfsdfwe ab"></div>
        </div>
    </div>
    <div class="ssdr_rrt">
        <div class="wd">
            <p class="cen">
                <img src="img/dabaiti.png">
            </p>
            <div class="sdeer_dert mt40 row cen">
                <div class="col-xs-2">
                    <p class="ssd_jj_deer">城市 <i class="f_i downdert"></i></p>
                </div>
                <div class="col-xs-2">
                    <p class="ssd_jj_deer">行业 <i class="f_i downdert"></i></p>
                </div>
                <div class="col-xs-2">
                    <p class="ssd_jj_deer">职称 <i class="f_i downdert"></i></p>
                </div>
                <div class="col-xs-2">
                    <p class="ssd_jj_deer">默认 <i class="f_i downdert"></i></p>
                </div>
                <div class="col-xs-2">
                    <p class="ssd_jj_deer ab"> <i class="f_i map_iconer"></i></p>
                </div>
                <div class="col-xs-2 dsf_eeert">
                    <a type="button" class="btn  btn-lg  dsf_deeert" href="forQuestions/oneToOneList.html">找专家</a>
                </div>
            </div>

            <div class="dsf_jh_eert mt40">
                <div class="swiper-button-prev f_i sdfsdfds_er"></div>
                <div class="swiper-button-next f_i sdfsdfds_er ab"></div>
                <div class="swiper-container swiper-containerer">
                    <div class="swiper-wrapper">
                            <!--<%  for (var a in [1,2,3,4,5,1,1,1,1,1,1,1,1,1,1,1]){ %>  -->
                        <div class="swiper-slide bgff pd pt10">
                            <img src="img/dsfsd_eert.jpg" class="sd_derttx fl">
                            <div class="ov pl10">
                                <p class="fz12 mt5">李专家</p>
                                <p class="fz12 dian mt10">
                                    注册会计师
                                </p>
                                <p class="fz12 dian">
                                    注册会计师
                                </p>
                                <p class="fz12 dian">
                                    注册会计师
                                </p>

                            </div>
                            <p class="qc"></p>
                        </div>
                           <!-- <%  }%>  -->
                      
                    </div>

                </div>

                <p class="ls cen mt30">
                    <a href="specialist/list.html">更多>></a>
                </p>


            </div>

        </div>

    </div>

    <div class="wd pt50 row dsfdfd_deeert">
        <div class="col-xs-6 ">
            <div class="row">
                <div class="col-xs-6">
                    <p class="dsfd_jj_eert"><span>最新资讯</span></p>
                </div>
                <div class="col-xs-6 tr z9 fz12">
                    <a class="cz" href="list.html">更多</a> <i class="f_i righywe_uic cz"></i>
                </div>
            </div>
            <div class="dsfds_deertt">
                <div>
                    <img src="img/sdfdsf_a.jpg" class="sdfdsf_a fl">
                    <div class="ov pl10">
                        <p class="dian fz16 bbm pm5">嘉毕信财税公司整合、收购工作会议顺利召开</p>
                        <p class="mt10 fz14 z9 dfg_deeert dianer">
                            2016年1月31日，有幸邀请到“中山大学管理学院EDP教育中心
                            特邀讲师”，原广东证券律师所副所长、亚太信息...
                        </p>
                    </div>
                    <p class="qc z9 tr "><a class="z9 sz">[更多详情]</a></p>
                    <div class="btm mt10 pt10">
                        <ul class="ssdd_jh_dert">
                                <!--<%  for (var a in [1,2,3,4]){ %>  -->
                                
                         
                            <li class="z9 fz14">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <i class="f_i dsfd_eertt"></i> 热烈庆祝嘉毕信财税通过“省诚信促进会”审批成为常
                                    </div>
                                    <div class="col-xs-3 tr">
                                        2016-01-18
                                    </div>
                                </div>
                            </li>
                            
                               <!-- <%  }%>  -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-6 ">
            <div class="row">
                <div class="col-xs-6">
                    <p class="dsfd_jj_eert"><span>财税60秒</span></p>
                </div>
                <div class="col-xs-6 tr z9 fz12">
                    <a class="cz" href="list.html">更多</a><i class="f_i righywe_uic cz"></i>
                </div>
            </div>
            <div class="dsfds_deertt">
                <div>
                    <img src="img/sdfdsf_a.jpg" class="sdfdsf_a fl">
                    <div class="ov pl10">
                        <p class="dian fz16 bbm pm5">嘉毕信财税公司整合、收购工作会议顺利召开</p>
                        <p class="mt10 fz14 z9 dfg_deeert dianer">
                            2016年1月31日，有幸邀请到“中山大学管理学院EDP教育中心
                            特邀讲师”，原广东证券律师所副所长、亚太信息...
                        </p>
                    </div>
                    <p class="qc z9 tr "><a class="z9 sz">[更多详情]</a></p>
                    <div class="btm mt10 pt10">
                        <ul class="ssdd_jh_dert">
                             <!--<%  for (var a in [1,2,3,4]){ %>  -->
                            <li class="z9 fz14">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <i class="f_i dsfd_eertt"></i> 热烈庆祝嘉毕信财税通过“省诚信促进会”审批成为常
                                    </div>
                                    <div class="col-xs-3 tr">
                                        2016-01-18
                                    </div>
                                </div>
                            </li>
                            <!-- <%  }%>  -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-6 mt50">
            <div class="row">
                <div class="col-xs-6">
                    <p class="dsfd_jj_eert"><span>一对一清单</span></p>
                </div>
                <div class="col-xs-6 tr z9 fz12">
                   <a class="cz" href="list.html">更多</a>> <i class="f_i righywe_uic cz"></i>
                </div>
            </div>
            <div class="dsfds_deertt pm10">
                <div>


                    <div class="dderert">
                        <ul class="ssdd_jh_dert">
                                <!--<%  for (var a in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]){ %>  -->
                                
                            
                            <li class="z9 fz14">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <i class="f_i dsfd_eertt"></i> 热烈庆祝嘉毕信财税通过“省诚信促进会”审批成为常
                                    </div>
                                    <div class="col-xs-3 tr">
                                        2016-01-18
                                    </div>
                                </div>
                            </li>
                           <!-- <%  }%>  -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-6 mt50">
            <div class="row">
                <div class="col-xs-6">
                    <p class="dsfd_jj_eert"><span>悬赏提问</span></p>
                </div>
                <div class="col-xs-6 tr z9 fz12">
                  <a class="cz" href="list.html">更多</a> <i class="f_i righywe_uic cz"></i>
                </div>
            </div>
            <div class="dsfds_deertt pm10">
                <div>


                    <div class="dderert">
                        <ul class="ssdd_jh_dert">
                             <!--<%  for (var a in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]){ %>  -->
                            <li class="z9 fz14">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <i class="f_i dsfd_eertt"></i> 热烈庆祝嘉毕信财税通过“省诚信促进会”审批成为常
                                    </div>
                                    <div class="col-xs-3 tr">
                                        2016-01-18
                                    </div>
                                </div>
                            </li>
                              <!-- <%  }%>  -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-xs-6 mt50">
            <div class="row">
                <div class="col-xs-6">
                    <p class="dsfd_jj_eert"><span>悬赏提问</span></p>
                </div>
                <div class="col-xs-6 tr z9 fz12">
                  <a class="cz" href="lister.html">更多</a> <i class="f_i righywe_uic cz"></i>
                </div>
            </div>


            <div class="slideTxtBox">
                <div class="hd">

                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                    <span class="arrow"><a class="next"></a><a class="prev"></a></span>

                    <ul>
                        <li>原创经典</li>
                        <li>专家原创</li>
                        <li>每周快讯</li>
                        <li>管理视界</li>
                        <li>每周一荐</li>
                    </ul>
                </div>

                <div class="dsfds_deertt pm10">
                    <div class="bd">
                        <!--<%  for (var a in [1,2,3,4,5,6]){ %>  -->
                        <ul class="ssdd_jh_dert">
                              <!--<%  for (var a in [1,2,3,4,5,6]){ %>  -->
                            <li class="z9 fz14">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <i class="f_i dsfd_eertt"></i> 热烈庆祝嘉毕信财税通过“省诚信促进会”审批成为常
                                    </div>
                                    <div class="col-xs-3 tr">
                                        2016-01-18
                                    </div>
                                </div>
                            </li>
                               <!-- <%  }%>  -->
                        </ul>
                        <!-- <%  }%>  -->
                       

                    </div>
                </div>
            </div>


        </div>





        <div class="col-xs-6 mt50">
            <div class="row">
                <div class="col-xs-6">
                    <p class="dsfd_jj_eert"><span>&nbsp;</span></p>
                </div>
                <div class="col-xs-6 tr z9 fz12">
                    <a class="cz" href="lister.html">更多</a>  <i class="f_i righywe_uic cz"></i>
                </div>
            </div>


            <div class="slideTxtBox">
                <div class="hd">

                    <!-- 下面是前/后按钮代码，如果不需要删除即可 -->
                    <span class="arrow"><a class="next"></a><a class="prev"></a></span>

                    <ul>
                        <li>人气专家</li>
                        <li>问题精选</li>
                        <li>文库精选</li>
                        <li>使用指南</li>
                    </ul>
                </div>

                <div class="dsfds_deertt pm10">
                   <div class="bd">
                        <!--<%  for (var a in [1,2,3,4]){ %>  -->
                        <ul class="ssdd_jh_dert">
                              <!--<%  for (var a in [1,2,3,4,5,6]){ %>  -->
                            <li class="z9 fz14">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <i class="f_i dsfd_eertt"></i> 热烈庆祝嘉毕信财税通过“省诚信促进会”审批成为常
                                    </div>
                                    <div class="col-xs-3 tr">
                                        2016-01-18
                                    </div>
                                </div>
                            </li>
                               <!-- <%  }%>  -->
                        </ul>
                        <!-- <%  }%>  -->
                       

                    </div>
                </div>
            </div>


        </div>










    </div>


    <div class="mt50 dsfd_j_dert">
        <div class="wd">
                <p class="fz32 cen">
                    实务指南
                </p>
                <p class="ssd_jhj_deert">
                    <span>为您提供专业的优质实务服务</span>
                </p>
            
            <div class="row mt50">
                <div class="col-xs-4">
                    <div class="dsfdf_hj_der">
                        <p class="dsf_deereert">
                             <img src="img/ddsfdsf_a.png">
                        </p>
                        <p class="dsf_dereeert">
                        
                        </p>
                        <p class="fz28 z3 mt40">
                            
                            工商税务
                        </p>
                       
                    </div>
                </div>
                 <div class="col-xs-4">
                    <div class="dsfdf_hj_der">
                        <p class="dsf_deereert">
                             <img src="img/ddsfdsf_b.png">
                        </p>
                        <p class="dsf_dereeert">
                        
                        </p>
                        <p class="fz28 z3 mt40">
                            
                            税务筹划
                        </p>
                       
                    </div>
                </div>
                 <div class="col-xs-4">
                    <div class="dsfdf_hj_der">
                        <p class="dsf_deereert">
                             <img src="img/ddsfdsf_c.png">
                        </p>
                        <p class="dsf_dereeert">
                        
                        </p>
                        <p class="fz28 z3 mt40">
                            
                            财税工具
                        </p>
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    
    
       <div class="wd pt50">
                <p class="fz32 cen">
                    企业风采
                </p>
                <p class="ssd_jhj_deert ab">
                    <span>我们是具有专业素质的企业</span>
                </p>
           
           
           <p class="mt40">
           <img src="img/qityefengcai.jpg" class="w100">
           </p>
           
           
    </div>

    <!-- build:section layout.footera -->
    <!-- /build -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/swiper3.07.min.js"></script>
    <script src="js/base.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-containerone', {
            loop: true, //循环
            pagination: '.swiper-pagination', //分页器的class的名字
            paginationClickable: true, //点击标题跳转到指定的那页
            prevButton: '.swiper-containerone .swiper-button-prev',
            nextButton: '.swiper-containerone .swiper-button-next',
        })
        var mySwiper = new Swiper('.swiper-containerer', {
            loop: true, //循环
            pagination: '.swiper-pagination', //分页器的class的名字
            paginationClickable: true, //点击标题跳转到指定的那页
            prevButton: '.dsf_jh_eert .swiper-button-prev',
            nextButton: '.dsf_jh_eert .swiper-button-next',
            slidesPerView: 6, //'一页显示4个'
            spaceBetween: 10, //间隔空隙
        })


        $(".dderert").slide({
            mainCell: "ul",
            autoPage: true,
            effect: "top",
            autoPlay: true,
            vis: 7
        });
        $(".slideTxtBox").slide({});
    </script>
</body></html>
